---
layout: default
---
<div id="content">
  <div class="home blog">
    {% for post in paginator.posts %}
      {% include posts.html %}
    {% endfor %}
    {% if paginator.total_pages > 1 %}
        <div class="pagination clearfix">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.url}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            {% endif %}
            {% assign min = paginator.page | minus:5 %}
            {% assign max = paginator.page | plus:5 %}
            {% if min < 1 %}
                {% assign min = 1%}
            {% endif %}
            {% if max > paginator.total_pages %}
                {% assign max = paginator.total_pages %}
            {% endif %}
            {% for page in (min..max) %}
                {% if page == paginator.page %}
                  <a class="active current">{{ page }}</a>
                {% elsif page == 1 %}
                  <a href="{{ site.url }}/">{{ page }}</a>
                {% else %}
                  <a href="{{ site.url }}/page{{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if !paginator.next_page %}
                  <a href="{{ paginator.next_page_path | prepend: site.url}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            {% endif %}
        </div><!-- /.pagination -->
    {% endif %}
  </div><!-- /.div.home blog -->
</div><!-- ./content -->
<div id="sidebar">
  {% include sidebar_author.html%}
  {% include sidebar_audio.html%}
  {% include sidebar_categories.html%}
  {% include sidebar_tags.html%}
</div><!-- ./sidebar -->