<!-- comment -->
<div id="post-comment" class="comments box clearfix">
	<h5 id="comments-title"><span> Comments</span></h5>
        {% if site.duoshuo.enable %}
        <div class="ds-thread" data-thread-key="{{ page.id }}"
             data-title="{{page.title | strip_newlines}}" data-url="{{page.url | prepend: site.url}}"></div>
        {% endif %}

        {% if site.disqus.enable %}
            <div id="disqus_thread"></div>
        {% endif %}

        {% if site.cloudtie.enable %}
        <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
        {% endif %}

        {% if site.uyan.enable %}
            <!-- UY BEGIN -->
            <div id="uyan_frame"></div>
        {% endif %}

</div>
