<!-- this is post list -->
<article class="post type-post status-publish format-standard">
    <header class="entry-header">
    <h2 class="entry-name">
      <a href="{{ post.url | prepend: site.url}}" title="{{post.title}}" rel="bookmark">{{post.title}}</a>
    </h2>
    <ul class="entry-meta">
      <li><i class="fa fa-clock-o"></i> {{ 'post.update_date' | translate }} {{ post.date | date: "%Y-%m-%d"}}</li>
      <li><i class="fa fa-pencil-square-o"></i>
          {% for category in post.categories %}
            <a href="{{site.url}}/categories/{{category}}">{{category}}</a>
          {% endfor %}
      </li>
      <li><i class="fa fa-comments-o"></i> <a href="{{ post.url | prepend: site.url }}#post-comment"><span class="disqus-comment-count" data-disqus-url="{{ post.url | prepend: site.url }}"></span> {{ 'list.comment' | translate }}</a></li>
      <!-- <li><i class="fa fa-eye"></i> <?php mzw_post_views(' Views');?></li> -->
    </ul>
    </header>
    <div class="entry-content" itemprop="description">
          {% if post.excerpt.size > 32 %}
              {{ post.excerpt }}
          {% else %}
              {{ post.content | strip_html | strip_newlines | truncate: 160 }}
          {% endif %}
    </div>
    <footer class="entry-footer clearfix">
    <div class="post-love">
      <a href="javascript:;" data-action="ding" class="favorite post-love-link" title="Love this"><i class="fa fa-heart-o"></i> 
      <span class="love-count">
        0
      </span></a>
    </div>
    <div class="post-more">
      <a href="{{ post.url | prepend: site.url}}">Read More</a>
    </div>
  </footer>
</article>