<!-- this is post list -->
<article class="post type-post status-publish format-audio">
  <div class="entry-music">
  	<div class="sb-xiami" songid="{{ post.content | split:"[xiami]"|last|split:"[/xiami]"|first }}">
  		<div class="sb-player">
  			<div class="sb-cover"></div>
  			<div class="sb-info clearfix">
  				<div class="sb-title left"></div>
  				<div class="play-timer right">--:--</div>
  			</div>
  			<div class="play-button"> </div>
  			<div class="play-prosess">
  				<div class="play-prosess-bar"></div>
  			</div>
  		</div>
  		<div class="sb-jplayer"></div>
  	</div>
  </div>
</article>