<!-- sidebar: tag list -->
<aside id="mzw_siderbar_tags-3" class="widget widget_mzw_siderbar_tags">
    <h3 class="widget-title"><hanla></hanla><span>标签云</span></h3>
    <div class="tagcloud">
        <!-- <a href="http://lbing.sinaapp.com/archives/tag/%e6%a0%87%e7%ad%be1">标签<hanla></hanla>1</a> -->
        {% for tag in site.tags %}
            <a class="taglink" href="{{site.url}}/tag/#{{tag.first}}" data-target-cate="#{{tag.first}}">
                {{ tag.first }}
            </a>
        {% endfor %}
    </div>
</aside>