<aside id="sidebar-audio1" class="widget widget-audio">
    <div class="sb-xiami" songid="{{ site.xiami_id }}">
        <div class="sb-player">
            <div class="sb-cover"></div>
            <div class="sb-info clearfix">
                <div class="sb-title left"></div>
                <div class="play-timer right">--:--</div>
            </div>
            <div class="play-button"> </div>
            <div class="play-prosess">
                <div class="play-prosess-bar"></div>
            </div>
        </div>
        <div class="sb-jplayer"></div>
    </div>
    <script type="text/javascript">
        setTimeout(function(){$(".widget .sb-jplayer").jPlayer("play");},2000);
    </script>
</aside>